header {
  color: white;
  background-color: red;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.685);
  font-weight: bolder;
  font-size: xx-large;
  position: sticky;
}

footer {
  color: white;
  background-color: red;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.685);
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 40px;
}

.navigate {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 1;
}
.menu {
  margin: 0%;
  background-color: rgb(0, 0, 0, 0.5);
}
.menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu li {
  padding: 10px;
  display: inline-block;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.submenu {
  position: absolute;
  background-color: #f5f5f5;
  padding: 0%;
  display: none;
  top: 42px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  display: block;
}

.submenu li:hover {
  background-color: gainsboro;
}

.submenu li a {
  color: #5596ca;
  font-size: 10px;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 2px;
  left: 0;
  animation: 30s slider infinite;
  animation-delay: 2s;
}

#slider figure img {
  float: left;
  width: 20%;
  height: 650px;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  10% {
    left: -100%;
  }
  20% {
    left: -200;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -200%;
  }
  80% {
    left: -200%;
  }
  90% {
    left: -100%;
  }
}

.item {
  position: relative;
  border-radius: 10px;
  margin-top: 10px;
  height: 400px;
  width: 300px;
  background-color: lightblue;
  display: inline-block;
}

.itemImage {
  margin: 2%;
  height: 50%;
  width: 90%;
}

p {
  color: blue;
  margin-left: 5%;
}

.itemButton {
  border-radius: 10px;
  width: 80%;
  height: 7%;
  margin-left: 5%;
  margin-bottom: 5%;
  color: orange;
}

.itemButton:hover {
  background-color: rgb(250, 234, 230);
  border: 1px solid;
  border-color: rgb(0, 255, 76);
}
