.input_fields {
  height: 5%;
  width: 20%;
  border: none;
  margin: 5px;
  outline: none;
  border-bottom: 2px solid lightgrey;
}

select,
h3 {
  margin: 5px;
}

button {
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 80px;
  margin: 15px;
  padding: 5px;
  cursor: pointer;
  background-color: #af66f2;
}
.blocks {
  display: inline-block;
}
img {
  left: 50%;
  height: 100%;
}
#block1 {
  float: left;
  width: 40%;
  height: 100%;
  block-size: fit-content;
}
#block2 {
  float: right;
  left: 40%;
  width: auto;
  height: 100%;
  position: fixed;
}
